<header>
  <h1>Información Básica</h1>
</header>

<div class="main">
  <a>
    <p>
      <strong>Nombres y Apellidos</strong>
    </p>
  </a>
  <a>
    <p>{{modelBasicInformation.nombre}}</p>
  </a>
</div>

<div class="main">
  <a>
    <p>
      <strong>Numero de Documento</strong>
    </p>
  </a>
  <a>
    <p>{{modelBasicInformation.numero_documento}}</p>
  </a>
</div>

<div class="main">
  <a>
    <p>
      <strong>Proyecto Curricular</strong>
    </p>
  </a>
  <a>
    <p>{{modelInstitutionalInformation.proyecto}}</p>
  </a>
</div>

<div class="main">
  <a>
    <p>
      <strong>Facultad</strong>
    </p>
  </a>
  <a>
    <p>{{modelInstitutionalInformation.facultad}}</p>
  </a>
</div>

<div class="main">
  <a>
    <p>
      <strong>Dirección de Residencia</strong>
    </p>
  </a>
  <a>
    <p>{{modelBasicInformation.direccion}}</p>
  </a>
</div>

<div class="main">
  <a>
    <p>
      <strong>Localidad</strong>
    </p>
  </a>
  <a>
    <p>{{modelBasicInformation.localidad}}</p>
  </a>
</div>

<div class="main">
  <a>
    <p>
      <strong>Correo Electronico</strong>
    </p>
  </a>
  <a>
    <p>{{modelBasicInformation.correo}}</p>
  </a>
</div>
<div class="main">
  <a>
    <p>
      <strong>Telefono</strong> 
    </p>
  </a>
  <a>
    <p>{{modelBasicInformation.telefono}}</p>
  </a>
</div>

<!-- Solicitud Rechazada -->
<div class="alert alert-danger mensaje" *ngIf="modelEconomicInformation.estadoprograma === 4">
  <h4>Solicitud Devuelta</h4>
  <p>Su solicitud fue devuelta por los siguiente motivos:</p>
  <span *ngFor="let item of mensajesplit">
      &emsp;<strong>- {{item}}</strong><br>
  </span>
  <p>Una vez solucionados estos errores puede enviar nuevamente su solicitud</p>
  <p>PD: Si desea adjuntar un documento nuevamente o un documento faltante debe hacerlo en el apartado "Subir documentos" en la opción "Documentos adicionales"</p>
</div> 

<!-- En Verificación -->
<div class="alert alert-info mensaje" *ngIf="modelEconomicInformation.estadoprograma === 1 || modelEconomicInformation.estadoprograma === 2">
  <h4>Su solicitud se encuentra en proceso</h4>
</div>