<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Listado de sedes de verificador -->
<div class="select" *ngIf="facultySelected === ''">
    <div class="sede" *ngIf="_constants.user !== 'A'">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><strong><p>Seleccione la sede a la que vaya verificar</p></strong></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of facultyVerifier" (click)="SelectFaculty(item)">
                    <td>{{item}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Listado de sedes del administrador -->
    <div class="sede" *ngIf="_constants.user === 'A'">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><strong><p>Seleccione la sede a la que vaya verificar</p></strong></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of modelFacultyInformation" (click)="SelectFaculty(item.facultad)">
                    <td>{{item.facultad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <!-- Botón actualizar -->
    <div class="reload">
        <a class="btn btn-default btn-sm" (click)="Reload()">
            <span class="glyphicon glyphicon-refresh"></span>  Actualizar
        </a>
    </div>
    <!-- Botón para cambiar de sede -->
    <div class="change">
        <a class="btn btn-default btn-sm" (click)="facultySelected = ''">
            <span class="glyphicon glyphicon-refresh"></span>  Cambiar Sede
        </a>
    </div>
    <!-- Conjunto de pestañas -->
    <ngb-tabset>
        <!-- solicitudes nuevas -->
        <ngb-tab title="Nuevas">
            <ng-template ngbTabContent>
                <div class="container mt-4">
                    <!-- Barra de busqueda -->
                    <div class="row">
                        <div class="col-md-12" *ngIf="dataInformationNewLocal !== null">
                            <h3>Buscar</h3>
                            <input class="form-control" type="text" name="search" [(ngModel)]="filter">
                        </div>
                    </div>
                    <!-- Tabla de nuevas solicitudes -->
                    <div class="row">
                        <div class="col-md-12">      
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th (click)="sort('codigo')">Código
                                            <span class="fa sort-icon" *ngIf="key =='codigo'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sort('Nombre')">Nombre
                                            <span class="fa sort-icon" *ngIf="key =='Nombre'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sort('ultimafechainscripcion')">Fecha de inscripción
                                            <span class="fa sort-icon" *ngIf="key == 'ultimafechainscripcion'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sort('Informacioneconomica[0].tipoapoyo')">Tipo de Apoyo
                                            <span class="fa sort-icon" *ngIf="key == 'Informacioneconomica[0].tipoapoyo'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr (click)="Redirect(item.codigo)" *ngFor="let item of dataInformationNewLocal | orderBy: key : reverse | filter: filter; let i = index">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ item.codigo }}</td>
                                        <td>{{ item.Nombre }}</td>
                                        <td>{{ item.ultimafechainscripcion | date: 'medium' }}</td>
                                        <td class="type">{{ item.Informacioneconomica[0].tipoapoyo }}</td>
                                    </tr>          
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <!-- Solicitudes revisadas -->
        <ngb-tab title="Completas">
            <ng-template ngbTabContent>
                <div class="container mt-4">
                    <!-- Campo de busqueda -->
                    <div class="row">
                        <div class="col-md-12" *ngIf="dataInformationCompleteLocal !== null">
                            <h3>Buscar</h3>
                            <input class="form-control" type="text" name="search" [(ngModel)]="filter2">
                        </div>
                    </div>
                    <!-- Tabla de solicitudes Completas -->
                    <div class="row">
                        <div class="col-md-12">      
                            <table class="table table-bordered" >
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th (click)="sort('codigo')">Código
                                            <span class="fa sort-icon" *ngIf="key =='codigo'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sort('Nombre')">Nombre
                                            <span class="fa sort-icon" *ngIf="key =='Nombre'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sort('ultimafechainscripcion')">Fecha de inscripción
                                            <span class="fa sort-icon" *ngIf="key == 'ultimafechainscripcion'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sort('Informacioneconomica[0].tipoapoyo')">Tipo de Apoyo
                                            <span class="fa sort-icon" *ngIf="key == 'Informacioneconomica[0].tipoapoyo'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr (click)="Redirect(item.codigo)" *ngFor="let item of dataInformationCompleteLocal | orderBy: key : reverse | filter: filter2; let i = index">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ item.codigo }}</td>
                                        <td>{{ item.Nombre }}</td>
                                        <td>{{ item.ultimafechainscripcion | date: 'medium' }}</td>
                                        <td class="type">{{ item.Informacioneconomica[0].tipoapoyo }}</td>
                                    </tr>          
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <!-- Solicitudes Rechazadas -->
        <ngb-tab title="Incompletas">
            <ng-template ngbTabContent>
                <div class="container mt-4">
                    <!-- Campo de busqeuda -->
                    <div class="row">
                        <div class="col-md-12" *ngIf="dataInformationIncompleteLocal !== null">
                            <h3>Buscar</h3>
                            <input class="form-control" type="text" name="search" [(ngModel)]="filter3">
                        </div>
                    </div>
                    <!-- Tabla de solicitudes incompletas -->
                    <div class="row">
                        <div class="col-md-12">      
                            <table class="table table-bordered" id="reporte">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th (click)="sort('codigo')">Código
                                            <span class="fa sort-icon" *ngIf="key =='codigo'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sort('Nombre')">Nombre
                                            <span class="fa sort-icon" *ngIf="key =='Nombre'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sort('ultimafechainscripcion')">Fecha de inscripción
                                            <span class="fa sort-icon" *ngIf="key == 'ultimafechainscripcion'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sort('Informacioneconomica[0].tipoapoyo')">Tipo de Apoyo
                                            <span class="fa sort-icon" *ngIf="key == 'Informacioneconomica[0].tipoapoyo'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr (click)="Redirect(item.codigo)" *ngFor="let item of dataInformationIncompleteLocal | orderBy: key : reverse | filter: filter3; let i = index">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ item.codigo }}</td>
                                        <td>{{ item.Nombre }}</td>
                                        <td>{{ item.ultimafechainscripcion | date: 'medium' }}</td>
                                        <td class="type">{{ item.Informacioneconomica[0].tipoapoyo }}</td>
                                    </tr>          
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>  