/* Estilo de filas */
.main {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    clear: both;
    padding: 0 5% 0 5%;
    text-align: center;
}

/* Override de clase .form-control */
.form-control {
    padding : 0;
    width: 90%;
    margin: 0;
}

/* Estilo de columna */
.col1 {
    width: 50%;
    float: left;
}

/* Override de clase .container */
.container {
    width: 100%;
}