header {
    border-bottom: 1px solid black;
}
textarea {
    resize: none;
}
.col1, .col2 {
    text-align: center;
    float: left;
    width: 45%;
}

.col3 {
    text-align: center;
    float: left;
    width: 10%;
}

.main {
    margin: 10px 0;
    text-align: center;
    clear: both;
}

.container {
    text-align: center;
}

.list {
    height: calc(2.25rem + 2px);
    border: 1px solid black; 
}

p {
    clear: both;
}