<div class="wrapper">
  <div class="menu_bar" (click)="main()">
      <a class="btn_menu"><span class="icon-menu"><img src="./assets/menuIcon.png"/></span>Opciones</a>
  </div>
  <nav class="vertical">
    <div>
      <ul>
        <li routerLink="/list" *ngIf="_constants.rol === '1' || _constants.rol === '2'">
          <accordion>Solicitudes</accordion>
        </li>
        <li routerLink="/configuration" *ngIf="_constants.rol === '1'">
          <accordion>Configuración</accordion>
        </li>
        <li routerLink="/data" *ngIf="_constants.rol === '3'">
          <accordion>Datos de estudiante</accordion>
        </li>
        <li routerLink="/form" *ngIf="_constants.rol === '3'">
          <accordion>Formulario</accordion>
        </li>
        <li *ngIf="_constants.rol === '3'">
          <accordion>
            <accordion-group heading="Documentos">
              <accordion routerLink="/documents">Subir documentos</accordion>
              <accordion><a target="_blank" href="../assets/res_2015-450.pdf" title="Resolucion 450 de 2015">Resolución 450 de 2015</a></accordion>
            </accordion-group>
          </accordion>
        </li>
        <li>
          <button *ngIf="_constants.rol === '3'" [disabled]="_inscriptionComplete.formComplete === false || _inscriptionComplete.documentsComplete === false" id="enviar" (click)="PutValidationComponent()" class="btn btn-success">INSCRIBIR</button>
        </li>
      </ul>
    </div>
    <div class="alert alert-info" *ngIf="_constants.rol === '3'">
      <strong>{{_dataInformation.MessageAdmin}}</strong>
    </div>
  </nav>
  <div class="checkboxes">
    <form>
      <select (change)="ChangeMenu($event.target.value)">
        <option value="0" selected="selected">Nada</option>
        <option value="1">Adminstrador</option>
        <option value="2">Verificador</option>
        <option value="3">Estudiante</option>
      </select>
    </form> 
  </div>
</div>
  <div class="interfaces">
  <div *ngIf="_inscriptionComplete.waitService == true" class="loading">
  
    <!-- 2 -->
  <div class="content">
    <div class="load-6">
      <div class="letter-holder">
        <div class="l-1 letter">L</div>
        <div class="l-2 letter">o</div>
        <div class="l-3 letter">a</div>
        <div class="l-4 letter">d</div>
        <div class="l-5 letter">i</div>
        <div class="l-6 letter">n</div>
        <div class="l-7 letter">g</div>
        <div class="l-8 letter">.</div>
        <div class="l-9 letter">.</div>
        <div class="l-10 letter">.</div>
      </div>
    </div>
  </div>
  </div>  
    <router-outlet></router-outlet>
  </div>
  <div class="error" *ngIf="_fileService.errorFile !== ''">
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="_fileService.errorFile = ''">
          <span aria-hidden="true">&times;</span>
        </button>
        <h6><strong>Error guardando:</strong></h6>
        <span *ngFor="let item of _fileService.errorFileSplit">
            &emsp;- {{item}}<br>
        </span>
        <h6><strong>El archivo debe ser en formato PDF y con un tamaño menor a 500 KB</strong></h6>
      </div>
    </div>
  <div class="error" *ngIf="response === 0">
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="_fileService.errorFile = ''">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4><strong>Debe llenar todos los campos y adjuntar todos los documentos</strong></h4>
      </div>
  </div>
  
  <div class="error" *ngIf="response === 1">
      <div class="alert alert-success alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="_fileService.errorFile = ''">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3><strong>Su inscripción se ha completado satisfactoriamente</strong></h3>
      </div>
  </div>